body {
  background-color: rgb(250, 231, 201);
}

.item-detail {
  padding-top: 2rem;
}

.heading-container {
  display: flex;
  justify-content: left;
  font-size: 1.6rem;
  padding-left: 3rem;
}

.points-tag {
  margin-top: 0px;
  margin-left: 1rem;
}

.item-title {
  font-size: 1.6rem;
  padding-left: 3rem;
}

.item-points {
  font-weight: bold;
}

.comments-container {
  margin: 2rem 3rem;
}
