.home-header {
  background-color: grey;
  display: flex;
  justify-content: center;
  height: 10rem;
}


.home-header-input-antd {
  margin: 2rem;
  height: 3rem;
  width: 50%;
  padding-left: 1rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
}

.home-body {
  /* background-color: aqua; */
  /* height: 100; */
}